<h2 class="page-header">NEWS</h2>


{{#if news}}
      {{#each news}}
      <tr>
        {{!-- <th> {{PUBLISHER}}</th> --}}
        {{!-- <th></th> --}}
        <th> <a href="{{URL}}">{{TITLE}}</a> </th>
        <br>
        </tr>
      {{/each}}
{{/if}}